.logo {
    width: 200px;
    margin-top: 0.5rem;
    float: left;
}

.contenedor-botones{
  margin-top: 1rem;
}



/*Responsive*/
@media (max-width: 600px) {
    .columna-sociales{
        padding: 0 !important;
    }
}


























































































































